@font-face {
  font-family: 'EB Garamond';
  src: url('../fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf');
}