.cta {
  display: grid;
  gap: 1.5rem;
  align-items: center;
  justify-items: center;
  padding: 13rem 5rem;
  background: radial-gradient(50% 50% at 50% 50%, #242424 0%, rgba(36, 36, 36, 0.00) 100%), url('../images/van-collage.png') no-repeat center;
  background-size: cover;
  
  &__text {
    display: grid;
    gap: 0.25rem;
    text-align: center;
  }
  
  &__header {
    font-family: "EB Garamond", serif;
    font-size: 3rem;
    font-weight: 400;
    color: var(--clr-white-900);
  }
  
  &__body {
    font-family: "Work Sans", sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--clr-white-900);
  }
}