.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 5rem;
  
  &__logo {
    width: 9.5rem;
  }
  
  &__navigation {
    display: flex;
    gap: 1.5rem;
  }
  
  &__navigation-link {
    font-weight: 500;
    
    &:hover {
      text-decoration: 2px underline var(--clr-black-0);
    }
  }
}