.hero {
  display: grid;
  
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
  }
  
  &__tag {
    font-family: "Work Sans", sans-serif;
    padding-left: 1.5rem;
    font-size: 0.9375rem;
    font-weight: 600;
    letter-spacing: 0.09375rem;
    text-transform: uppercase;
    border-left: 3px solid var(--clr-black-0);
  }
  
  &__image {
    padding: 5rem;
    background: url('../images/hero-background.jpeg') center;
  }
}