/*******************************
    CSS Variables
*******************************/

:root {
    /* Neutral Colors */
    --clr-neutral-black: #000000;
    --clr-neutral-white: #ffffff;
    --clr-neutral-grey-300: #f1efec;
    --clr-neutral-grey-900: #242424;

    /* Specific Colors */
    --clr-error: #ff0000;
}

/*******************************
    Clearfix
*******************************/

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

/*******************************
    Layout Styles
*******************************/

.section {
    background: url('../images/section-texture.png');
}

.text-flow {
    & > *:not(:last-child) {
        margin-bottom: 1.5rem;
    }
}
/*******************************
    Typography
*******************************/

h1 {
    font-family: 'EB Garamond', serif;
    font-size: 4.5rem;
    font-weight: 400;
    line-height: normal;
}

h2 {
    font-family: 'Work Sans', serif;
    font-size: 0.9375rem;
    font-weight: 600;
    letter-spacing: 0.09375rem;
    text-transform: uppercase;
    line-height: normal;
}

h3 {
    font-family: 'EB Garamond', serif;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: normal;
}

p {
    font-family: 'EB Garamond', serif;
    font-size: 1.625rem;
    line-height: normal;
}

.san-serif-p {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
}

.san-serif-subtitle {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.9375rem;
    font-weight: 600;
    letter-spacing: 0.09375rem;
}

a,
button,
label,
input {
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    color: inherit;
}

/**********************
    Components
**********************/

/****************************
    Button
*****************************/
.button {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    font-size: 0.9375rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.09375rem;
    text-transform: uppercase;
    border: none;
}

.button--black {
    color: var(--clr-neutral-white);
    background-color: var(--clr-neutral-black);
    border: 2px solid var(--clr-neutral-black);
}

.button--black:hover {
    color: var(--clr-neutral-black);
    background-color: transparent;
}

.button--white {
    color: var(--clr-neutral-black);
    background-color: var(--clr-neutral-white);
    border: 2px solid var(--clr-neutral-white);
}

.button--white:hover {
    color: var(--clr-neutral-white);
    background-color: transparent;
}

/****************************
    Link
*****************************/

.link {
    display: inline-block;
    padding-bottom: 0.75rem;
    font-size: 0.9375rem;
    font-weight: 600;
    letter-spacing: 0.09375rem;
}

.link--black {
    color: var(--clr-neutral-black);
    border-bottom: 2px solid var(--clr-neutral-black);
}

.link--white {
    color: var(--clr-neutral-white);
    border-bottom: 2px solid var(--clr-neutral-white);
}

/******************************
    Text Input
*******************************/

.text-input__field {
    margin-top: 1.5rem;
    width: 100%;
    padding: 1rem;
    border: 2px solid transparent;
    color: var(--clr-neutral-black);
}

.text-input__field--error,
.text-input__field--error:focus {
    border: 2px solid var(--clr-error);
}

/***********************************
    Home Page Styles
***********************************/

/****************************
    Header
****************************/
header {
    padding-top: 2.5rem;
}

.header__navigation {
    padding: 1.25rem 0;
}

.header__navigation a {
    font-size: 0.9375rem;
    font-weight: 600;
    letter-spacing: 0.09375rem;
    text-transform: uppercase;
}

.header__navigation a {
    float: left;
    padding-left: 2.5rem;
}

.header__navigation a:hover {
    text-decoration: underline;
}

/****************************
    Hero
****************************/

.hero__text {
    padding: 5rem 0;
}

.hero__tag {
    margin-top: 1.25rem;
    padding: 0.75rem 0 0.75rem 1.5rem;
    letter-spacing: 0.09375rem;
    text-transform: uppercase;
    border-left: 2px solid #000000;
}

.hero__image {
    width: 100%;
    padding: 5rem;
    background: url('../images/barren-landscape.webp') no-repeat center;
    background-size: cover;
}

/****************************
    Basecamp Reimagined
****************************/
.basecamp {
    padding-top: 6.5rem;
}

.basecamp > *:first-child {
    padding-bottom: 9rem;
}

.basecamp__quote {
    font-weight: 400;
}

.basecamp__quote-author {
    font-weight: 600;
}

.basecamp__quote-author-flex {
    margin-top: 0.5rem;
}

.basecamp__quote-author-flex > * {
    margin-right: 0.5rem;
    float: left;
}

.basecamp__large-text-deco {
    float: right;
    font-size: 8.875rem;
    text-align: right;
    opacity: 0.1;
    padding-bottom: 2.5rem;
}

/****************************
    Explore Builds
****************************/

.explore-builds {
    padding: 12rem 0;
    height: 35.125rem;
    color: var(--clr-neutral-white);
    background-size: cover;
    text-align: center;
    background: radial-gradient(50% 50% at 50% 50%, #242424 0%, rgba(36, 36, 36, 0.00) 100%),
    url('../images/van-collage.webp') no-repeat center;
    background-size: 100%;
}

.explore-builds__text {
    text-align: center;
    margin-bottom: 2.25rem;
}

.explore-builds__header {
    font-family: 'EB Garamond', sans-serif;
    font-size: 4.5rem;
    font-weight: 400;
}

.explore-builds__body {
    font-weight: 500;
}

/************************************
    Testimonials and About Us
************************************/
.testimonial-about-us {
    padding: 6.5rem 0 9rem;
}

.testimonial-about-us > :first-child {
    padding-bottom: 9rem;
}

.testimonial {
    /* gap 2rem */
}

.testimonial__box {
    margin-top: 2rem;
    padding: 3rem;
    background-color: var(--clr-neutral-white);
}

/************************
    Contact Us
************************/

.contact-us {
    padding: 6.5rem 5rem;
    color: var(--clr-neutral-white);
    background-color: var(--clr-neutral-grey-900);
    text-align: center;
}

.contact-us__header {
    font-family: 'EB Garamond', sans-serif;
    font-size: 4.5rem;
    font-weight: 400;
    text-transform: unset;
    color: var(--clr-neutral-white);
    margin-bottom: 1.5rem;
}

/************************
    Footer
************************/

/************************
    Footer Top
************************/
.footer__top {
    /* gap 3rem */
    padding: 5rem 0 ;
    margin-bottom: unset;
}

.footer__top-content {
    margin-top: 3rem;
    margin-bottom: unset;
}

.footer__top-text {
    /* space-between */
}

.footer__copyright {
    padding-top: 5rem;
    opacity: 0.5;
}

.footer__copyright-link {
    text-decoration: underline;
}

.footer__nav ul > *:not(:last-child){
    margin-bottom: 2.5rem;
}

.footer__link {
    font-family: 'EB Garamond', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2.5rem;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__button {
    display: inline-block;
    margin-top: 3rem;
    padding: 1rem;
    text-transform: uppercase;
    background-color: var(--clr-neutral-grey-300);
    border: 2px solid var(--clr-neutral-grey-300);
}

.footer__button:hover {
    background-color: var(--clr-neutral-white);
}

/************************
    Footer Bottom
************************/

.footer__bottom {
    padding: 5rem 0;
    color: var(--clr-neutral-white);
    background-color: var(--clr-neutral-grey-900);
    margin-bottom: unset;
}

.footer__fieldset > *:not(:first-child) {
    margin-top: 1.5rem;
}

.footer__form-required-star {
    color: var(--clr-error);
}

.footer__bottom-section > *:not(:first-child)  {
    margin-top: 1rem;
}

.footer__bottom-section-header {
    padding: 0.75rem 0;
    border-bottom: 2px solid var(--clr-neutral-white);
}

.footer__socials > * {
    float: left;
    padding-right: 1rem;
}

.footer__socials img {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.25rem;
    background-color: var(--clr-neutral-white);
    border-radius: 50rem;
}