/*******************************
    CSS Variables
*******************************/

:root {
    /* Neutral Colors */
    --clr-neutral-black: #000000;
    --clr-neutral-white: #ffffff;
    --clr-neutral-grey-300: #f1efec;
    --clr-neutral-grey-900: #242424;

    /* Specific Colors */
    --clr-error: #ff0000;
}

/*********************************************************
    CSS Reset 
    https://www.joshwcomeau.com/css/custom-css-reset/
*********************************************************/

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

/*******************************
    Base Styles
*******************************/

fieldset {
    border: none;
}

ul,
ol {
    list-style: none;
}

/*******************************
    Layout Styles
*******************************/

/* grid bleed */

.section {
    display: grid;
    gap: 9rem;
    background-image: url('../images/section-texture.webp');
}

.flex-end-column {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 9rem;
}

.flex-end-column > * {
    grid-area: 1/2;
}

.two-columns {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 9rem;
}

.text-flow {
    display: grid;
    gap: 1.5rem;
    justify-items: flex-start;
}

.grid-auto-fit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1rem;
}

/*******************************
    Typography
*******************************/

h1 {
    font-family: 'EB Garamond', serif;
    font-size: 4.5rem;
    font-weight: 400;
}

h2 {
    font-family: 'Work Sans', serif;
    font-size: 0.9375rem;
    font-weight: 600;
    letter-spacing: 0.09375rem;
    text-transform: uppercase;
}

h3 {
    font-family: 'EB Garamond', serif;
    font-size: 2.5rem;
    font-weight: 400;
}

p {
    font-family: 'EB Garamond', serif;
    font-size: 1.625rem;
}

.san-serif-p {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
}

.san-serif-subtitle {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.9375rem;
    font-weight: 600;
    letter-spacing: 0.09375rem;
}

a,
button,
label,
input {
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    color: inherit;
}

/**********************
    Components
**********************/

/****************************
    Button
*****************************/
.button {
    display: inline-block;
    width: max-content;
    padding: 1rem;
    font-size: 0.9375rem;
    font-weight: 600;
    letter-spacing: 0.09375rem;
    text-transform: uppercase;
    border: none;
}

.button--black {
    color: var(--clr-neutral-white);
    background-color: var(--clr-neutral-black);
    border: 2px solid var(--clr-neutral-black);
}

.button--black:hover {
    color: var(--clr-neutral-black);
    background-color: transparent;
}

.button--white {
    color: var(--clr-neutral-black);
    background-color: var(--clr-neutral-white);
    border: 2px solid var(--clr-neutral-white);
}

.button--white:hover {
    color: var(--clr-neutral-white);
    background-color: transparent;
}

/****************************
    Link
*****************************/

.link {
    display: inline-block;
    padding: 0.75rem 0;
    font-size: 0.9375rem;
    font-weight: 600;
    letter-spacing: 0.09375rem;
    text-transform: uppercase;
}

.link--black {
    color: var(--clr-neutral-black);
    border-bottom: 2px solid var(--clr-neutral-black);
}

.link--white {
    color: var(--clr-neutral-white);
    border-bottom: 2px solid var(--clr-neutral-white);
}

/******************************
    Signup Form
*******************************/

fieldset {
    display: grid;
    gap: 1.5rem;
}

legend {
    margin-bottom: 1.5rem;
}

/******************************
    Text Input
*******************************/

.text-input {
    display: grid;
    gap: 1.5rem;
}

.text-input__field {
    width: 100%;
    padding: 1rem;
    border: 2px solid transparent;
}

.text-input__field--error,
.text-input__field--error:focus {
    border: 2px solid var(--clr-error);
}

/***********************************
    Home Page Styles
***********************************/

/****************************
    Header
****************************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 5rem;
}

.header__navigation {
    display: flex;
    gap: 1.5rem;
}

.header__navigation a {
    font-size: 0.9375rem;
    font-weight: 600;
    letter-spacing: 0.09375rem;
    text-transform: uppercase;
}

.header__navigation a:hover {
    text-decoration: underline;
}

/****************************
    Hero
****************************/

.hero__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
}

.hero__tag {
    padding: 0.75rem 0 0.75rem 1.5rem;
    letter-spacing: 0.09375rem;
    text-transform: uppercase;
    border-left: 2px solid #000000;
}

.hero__image {
    padding: 5rem;
    background: url('../images/barren-landscape.webp') no-repeat center;
    background-size: cover;
}

/****************************
    Basecamp Reimagined
****************************/

.basecamp {
    position: relative;
    padding: 6.5rem 5rem 12rem;
}

.basecamp__quote {
    font-weight: 400;
}

.basecamp__quote-author {
    font-weight: 600;
}

.basecamp__quote-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.basecamp__quote-author-flex {
    display: flex;
    gap: 0.5rem;
}

.basecamp__large-text-deco {
    position: absolute;
    font-size: 8.875rem;
    text-align: right;
    opacity: 0.1;
    bottom: 2.5rem;
    right: 5rem;
}

/****************************
    Explore Builds
****************************/

.explore-builds {
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 2.25rem;
    height: 35.125rem;
    color: var(--clr-neutral-white);
    background: radial-gradient(50% 50% at 50% 50%, #242424 0%, rgba(36, 36, 36, 0.00) 100%), url('../images/van-collage.webp') no-repeat center;
    background-size: cover;
}

.explore-builds__text {
    display: grid;
    gap: 0.5rem;
    text-align: center;
}

.explore-builds__header {
    font-family: 'EB Garamond', sans-serif;
    font-size: 4.5rem;
    font-weight: 400;
}

.explore-builds__body {
    font-weight: 500;
}

/************************************
    Testimonials and About Us
************************************/

.testimonial-about-us {
    padding: 6.5rem 5rem 9rem;
}

.testimonial__box {
    display: grid;
    gap: 3rem;
    padding: 3rem;
    background-color: var(--clr-neutral-white);
}

/************************
    Contact Us
************************/

.contact-us {
    display: grid;
    gap: 1.5rem;
    justify-items: center;
    align-content: center;
    padding: 6.5rem 5rem;
    color: var(--clr-neutral-white);
    background-color: var(--clr-neutral-grey-900);
}

.contact-us__header {
    font-family: 'EB Garamond', sans-serif;
    font-size: 4.5rem;
    font-weight: 400;
    text-transform: unset;
    color: var(--clr-neutral-white);
}

/************************
    Footer
************************/

/************************
    Footer Top
************************/
.footer__top {
    display: grid;
    gap: 3rem;
    padding: 5rem;
}

.footer__top-content {
    display: grid;
    grid-template-columns: 40% 50%;
    justify-content: space-between;
}

.footer__top-text {
    display: grid;
    align-content: space-between;
}

.footer__copyright {
    opacity: 0.5;
}

.footer__copyright-link {
    text-decoration: underline;
}

.footer__top-links {
    display: grid;
    gap: 3rem;
}

.footer__link {
    font-family: 'EB Garamond', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2.5rem;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__button {
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
    background-color: var(--clr-neutral-grey-300);
    border: 2px solid var(--clr-neutral-grey-300);
}

.footer__button:hover {
    background-color: var(--clr-neutral-white);
}

/************************
    Footer Bottom
************************/

.footer__bottom {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    padding: 5rem;
    color: var(--clr-neutral-white);
    background-color: var(--clr-neutral-grey-900);
}

.footer__form-required-star {
    color: var(--clr-error);
}

.footer__bottom-sections {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
}

.footer__bottom-section-header {
    margin-bottom: 1.5rem;
    padding: 0.75rem 0;
    border-bottom: 2px solid var(--clr-neutral-white);
}

.footer__socials {
    display: flex;
    gap: 0.5rem;
}

.footer__socials img {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.25rem;
    background-color: var(--clr-neutral-white);
    border-radius: 50rem;
}